doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        title Title
        link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville', rel='stylesheet')
        link(rel='stylesheet', href='./css/main.css')

    body
       .bar__user_wrapper
            .bar__user_inf
                .bar__avatar_wrapper
                    img(src='./images/avatar.png').avatar__photo
                    .bar__avatar_inf.bar__avatar_inf_number 1
                img(src='./images/dots.png')
                .bar__board_wrapper
                    image(src='./images/board.png').bar__board



       .nav__bar_wrapper
       .bar__active_wrapper
       .bar__messenger_wrapper
       .bar__project_wrapper
